# SPDX-FileCopyrightText: 2023 TomTom <http://tomtom.com>
# SPDX-License-Identifier: CC0-1.0

/dist/bump/index.js linguist-generated=true
/dist/cli/index.js linguist-generated=true
/dist/validate/index.js linguist-generated=true
