# Copyright (C) 2022 TomTom NV. All rights reserved.
#
# This software is the proprietary copyright of TomTom NV and its subsidiaries and may be
# used for internal evaluation purposes or commercial use strictly subject to separate
# license agreement between you and TomTom NV. If you are the licensee, you are only permitted
# to use this software in accordance with the terms of your license agreement. If you are
# not the licensee, you are not authorized to use this software in any manner and should
# immediately return or destroy it.

---
name: Create Draft release based on the CHANGELOG.md

concurrency: deployment

on:
  push:
    branches:
      - master

jobs:
  draft-release:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Python 3.7
        uses: actions/setup-python@v2
        with: { python-version: '3.7' }

      - name: Validate CHANGELOG.md
        uses: tomtom-international/keepachangelog-action@v0
        with:
          deploy: draft
          token: ${{ github.token }}
