# Copyright (C) 2022, TomTom (http://tomtom.com).
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
name: Release and Deploy GitHub Action

concurrency: deployment

on:
  push:
    branches:
      - master

jobs:
  update-changelog:
    name: Release Changelog
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.keepachangelog.outputs.version }}

    steps:
      - name: Set-up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.7'
          cache: 'pip'

      - name: Release Changelog
        uses: tomtom-international/keepachangelog-action@v1
        id: keepachangelog
        with:
          tag: v{version}
          token: ${{ secrets.RELEASE_TOKEN }}
          publish: true
          

  release-action:
    runs-on: ubuntu-latest
    needs: update-changelog
    if: needs.update-changelog.outputs.version != ''

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ needs.update-changelog.outputs.version }}
        
      - name: Update the ${{ needs.update-changelog.outputs.version }} tag
        uses: actions/publish-action@v0.2.0
        with:
          source-tag: ${{ needs.update-changelog.outputs.version }}
