# Copyright (C) 2022 TomTom NV. All rights reserved.
#
# This software is the proprietary copyright of TomTom NV and its subsidiaries and may be
# used for internal evaluation purposes or commercial use strictly subject to separate
# license agreement between you and TomTom NV. If you are the licensee, you are only permitted
# to use this software in accordance with the terms of your license agreement. If you are
# not the licensee, you are not authorized to use this software in any manner and should
# immediately return or destroy it.

---
name: Release and Deploy GitHub Action

concurrency: deployment

on:
  release:
    types: [released]

jobs:
  update-changelog:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.release.target_commitish }}

      - name: Determine version
        id: version
        run: |
          VERSION=$(echo "${GITHUB_REF}" | cut -f 3 -d "/")
          echo "##[set-output name=version;]${VERSION}"

      - name: Setup Python 3.7
        uses: actions/setup-python@v3
        with: {python-version: '3.7'}

      - name: Install keepachangelog-manager
        run: python3 -m pip install "keepachangelog-manager>=3.0.0,<4"

      - name: Release CHANGELOG.md
        run: changelogmanager release --override-version ${{ steps.version.outputs.version }}

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: ${{ github.event.release.target_commitish }}
          commit_message: "docs: updated `CHANGELOG.md` for version ${{ steps.version.outputs.version }}"
          file_pattern: CHANGELOG.md

  deploy:
    runs-on: ubuntu-latest
    needs: update-changelog

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Setup Node
        uses: actions/setup-node@v3

      - uses: JasonEtco/build-and-tag-action@v2
        env:
          GITHUB_TOKEN: ${{ github.token }}
